$color-primary:#a93adde7;
$color-primary-light:#4b064580;  

$color-secondry-light:#f395c1e0;
$color-secondry-dark:#d11298fa;

$color-tertiary-light:rgba(98, 229, 238, 0.938);
$color-tertiary-dark:rgba(20, 117, 124, 0.863);


$color-grey-light:#f7f7f7 ;
$color-grey-light-2:#d8d2d2;
$color-grey-dark:#777;
$color-grey-dark-2:#333;

$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
   
//font
$default-font-size:1.6rem;

//grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;

